@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #f6eee3;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  border-bottom: solid 1px #f6eee3;
}


@layer base {

    @font-face {
        font-family: 'Bazovy';
        src: local('Bazovy'), url(/fonts/Bazovy.ttf) format('truetype');
        font-display: swap;
    }
    @font-face {
        font-family: 'Victorianna-thin';
        src: local('Victorianna-thin'), url(/fonts/Victorianna-thin.ttf) format('truetype');
        font-display: swap;
    }
    @font-face {
        font-family: 'Victorianna-thin-italic';
        src: local('Victorianna-thin-italic'), url(/fonts/Victorianna-thin-italic.ttf) format('truetype');
        font-display: swap;
    }
  }

a {
    @apply cursor-none;
}

#menu-container{
    will-change:  margin, color, height, padding;
}
#menuTopSection{
    will-change: padding;
}
#menuTopSectionText{
    will-change:  margin, color, height;
}

#homePageWrapper{
    max-height: -webkit-fill-available;
    height:  calc(100vh - env(safe-area-inset-bottom));
}
